<%- include ("includes/header") %>

<%- include ("includes/footer") %>

<!-- <img src="./file_sharing.gif"/> -->

<h1 style="text-align:center"><b>FILE SHARER </b></h1>

<p style="text-align:center;"><img src="./file_sharing.gif" alt="filesharing" style="vertical-align:bottom"> </p>


